<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">Reminding Study</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">시스템프로그래밍</a></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">마이페이지</a></li>
      </ul>
    </div>
</nav>
  <br><br>
<div class="container">
      <table class="bordered">
        <thead>
          <tr>
              <th>풀고싶어요</th>
              <th>번호</th>
              <th>제목</th>
              <th>작성 날짜</th>
              <th></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><input type="checkbox" id="test5" /><label for="test5"></label></td>
            <td>3</td>
            <td><a href="/detail">쉘 스크립트</a></td>
            <td>2017.7.3</td>
            <td><a class="waves-effect waves-light btn deep-orange accent-1" href="/wrong">오답보기</a></td>
          </tr>
          <tr>
            <td><input type="checkbox" id="test4" /><label for="test4"></label></td>
            <td>2</td>
            <td><a href="#">vi편집기</a></td>
            <td>2017.7.2</td>
            <td><a class="waves-effect waves-light btn deep-orange accent-1" href="/wrong">오답보기</a></td>
          </tr>
          <tr>
              <td><input type="checkbox" id="test3" /><label for="test3"></label></td>
              <td>1</td>
              <td><a href="#">디렉토리 및 파일 사용</a></td>
              <td>2017.7.1</td>
              <td><a class="waves-effect waves-light btn deep-orange accent-1" href="/wrong">오답보기</a></td>
          </tr>
        </tbody>
      </table>
      <br><br><br>
      <div class="row">
          <div class="col s6 offset-s4">
              <a class="waves-effect waves-light btn">문제풀기 -></a>
              <a class="waves-effect waves-light btn">추가하기 +</a>
          </div>
      </div>
</div>