<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">Reminding Study</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">시스템프로그래밍</a></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">마이페이지</a></li>
      </ul>
    </div>
</nav>
  <br><br>
<div class="container">
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header"><span class="badge">정답보기</span>Q. 디렉터리 만드는 명령어</div>
        <div class="collapsible-body"><p>mkdir</p></div>
      </li>
      <li>
        <div class="collapsible-header"><span class="badge">정답보기</span>Q. 파일 삭제 명령어</div>
        <div class="collapsible-body"><p>rm</p></div>
      </li>
    </ul>
</div>